#
## Cache control
#

# Fonts and CSS (60 days)
<FilesMatch "\.(eot|woff|ttf|svg|css)">
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=5184000"
ExpiresDefault "access plus 60 days"
</FilesMatch>

# Javascript (10 days)
<FilesMatch "\.js">
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=864000"
ExpiresDefault "access plus 10 days"
</FilesMatch>

#Images [jpg, png, gif] (10 years - far future expiration)
<FilesMatch "\.(jpg|png|gif)">
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=315569260"
ExpiresDefault "access plus 10 years"
</FilesMatch>

#ETag Config
FileETag none